<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>5-7 ホタルが舞う</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<!--==============レイアウトを制御する独自のCSSを読み込み===============-->
<link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-7/css/reset.css">
<link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-7/css/5-7.css">
</head>
<body>
<div id="particles-js">
  <h1>あなたの押すススメの本はこちら</h1>

<table>
  <thead>
    <tr>
      <th>作者</th>
      <th>題名</th>
      <th>概要</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= Author.find(book.author_id).name %></td>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Book', new_book_path, class: "search-button" data: { turbo: false }%>
<%= link_to 'トップに戻る', posts_path, class: "search-button" data: { turbo: false }%>
<p class=masa>© 2024 Masaki_yoshida.</p>
</div>
<div id="wrapper">
</div>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-7/js/5-7.js"></script>
</body>
</html>
