
<h1>あなたの押すススメの本はこちら</h1>

<table>
  <thead>
    <tr>
      <th>作者</th>
      <th>題名</th>
      <th>概要</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= Author.find(book.author_id).name %></td>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Book', new_book_path, class: "search-button" %>
<%= link_to 'トップに戻る', posts_path, class: "search-button" %>
<p class=masa>© 2024 Masaki_yoshida.</p>
