<!-- app/views/books/new.html.erb -->
<h1>New Book</h1>



<%= form_with(model: @book, local: true) do |form| %>

<div class="field">
  <%= form.label :author_id %>
  <%= form.collection_select :author_id, Author.all, :id, :name, prompt: '選択してください' %>
</div>
  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :author, required: true %>
  </div>

  <div class="field">
    <%= form.label :概要 %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit "Create Book" %>
  </div>
<% end %>

<%= link_to 'Back', books_path %>
