

<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>5-9 星がキラキラ</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<!--==============レイアウトを制御する独自のCSSを読み込み===============-->
<link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-9/css/reset.css">
<link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-9/css/5-9.css">
</head>
<body>
<div id="particles-js"></div>
<div id="wrapper">
  <div class="contents row">
  <div class="container">
    <h2>ログイン〜</h2>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :メールアドレスを打て %><br />
        <%= f.email_field :email, autofocus: true,class: "author-select"  %>
      </div>

      <div class="field">
        <%= f.label :パスワードを打つんじゃ %><br />
        <%= f.password_field :password, autocomplete: "off",class: "author-select"  %>
      </div>



      <div class="actions">
        <%= f.submit "ログイイン", class: "search-button" %>
      </div>
      <p class=masa>© 2024 Masaki_yoshida.</p>
    <% end %>
  </div>
</div>
<!--/wrapper--></div>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-9/js/5-9.js"></script>
</body>
</html>