<!-- app/views/posts/index.html.erb -->
<h1>新しい本とであお〜</h1>
<%= form_tag(books_path, method: :get) do %>
  <%= select_tag :author_id, options_for_select(Author.all.map { |a| [a.name, a.id] }, params[:author_id]), prompt: "著者を選択" %>
  <%= text_field_tag :query, params[:query], placeholder: "キーワードを入力" %>
  <%= submit_tag "検索" %>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>
    </li>
  <% end %>
</ul>
<%= link_to '使いかた', new_post_path %>
<% if user_signed_in? %>
  <!-- ログインしている場合の表示 -->
  <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>
  <p>ヨウコソ: <%= current_user.nickname %></p>
  <%= link_to '新しい投稿', new_book_path %> <!-- この行を追加 -->
<% else %>
  <!-- ログインしていない場合の表示 -->
  <%= link_to 'ログイン', new_user_session_path %>
  <%= link_to '新規登録', new_user_registration_path %>
<% end %>
