<!-- app/views/posts/index.html.erb -->
<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>
    </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <!-- ログインしている場合の表示 -->
  <%= link_to 'New Post', new_post_path %>
  <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>
  <p>Signed in as: <%= current_user.nickname %></p>
  <%= link_to '新しい投稿', new_book_path %> <!-- この行を追加 -->
<% else %>
  <!-- ログインしていない場合の表示 -->
  <%= link_to 'ログイン', new_user_session_path %>
  <%= link_to 'Sign Up', new_user_registration_path %>
<% end %>
